/MeuPrimeiroProjeto/.gradle/
/MeuPrimeiroProjeto/build/
/ComandosLeituraGravacao/.gradle/
/VariaveisTiposOperadores/.gradle/
/EstruturaCondicionalSe/.gradle/
/EstruturaEscolha/.gradle/
/ExercicioQuinze/.gradle/
/ExercicioQuinze/build/
/EstruturaFor/.gradle/
/EstruturaWhile/.gradle/
/EstruturaWhile/build/
/ExercicioEstruturaRepeticao/.gradle/
/ExercicioEstruturaRepeticao/build/
/Exercicio22/.gradle/
/Exercicio22/build/
/Classes/.gradle/
/Classes/build/
/Heranca/.gradle/
/Heranca/build/
/ExercicioVinte/.gradle/
/ExercicioVinte/build/
/Exercicio4POO/.gradle/
