@cor: white;
@cor2: green;
@cor_sombra: black;
@width: 0.5;
@tamanho: 1rem;

html {
    height: 100vh;
}

body{
    .cores('');
    background-color: rgba(0 , 0, 0, 1);
    background-image: url('https://picsum.photos/1600/900');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    p{
        color: yellow;
    }
}

h1 {
    .cores('h1');
}

h2{
    .cores('');
    width: percentage(@width);
}

.cores(@tag){
    color: @cor;
    
    & when(@tag = 'h1'){
        text-shadow: 5px 1px 1px @cor_sombra;
        font-size: @tamanho + 2.5;
    } 
    & when(@tag = '') {
        background-color: red;
        font-size: @tamanho * 1.25;
    }

}