@cor: white;
@cor2: green;
@cor_sombra: black;
@width: 0.5;

html {
    .cores('','');
    background-color: rgba(0 , 0, 0, 1);
    background-image: url('https://picsum.photos/1600/900');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

h1 {
    .cores(5rem,'h1');
}

h2{
    .cores('','');
    width: percentage(@width);
}

.cores(@tamanho, @tag){
    color: @cor;
    font-size: @tamanho;
    & when(@tag = 'h1'){
        text-shadow: 5px 1px 1px @cor_sombra;
    } 
    & when(@tag = '') {
        background-color: red;
    }

}