@use 'base.scss';
$blue: lightblue;
$green: green;
$background: black;

@mixin cores() {
    color: $blue;
    background-color: $background;
}

body {
    @include cores();
    h2 {
        color: $green;

    }
}


