$blue: lightblue;
$green: green;
$background: black;

@mixin cores() {
    color: $cor;
    background-color: $background;
}

html {
    height: 100vh;
}

body {
    @include cores();
}

.drop-shadow {
    text-shadow: 2px 1px 1px #ccc;
    text-decoration: underline;
}

h2 {
    color: $green;
}

