@use 'base.scss';
$blue: lightblue;
$green: green;
$background: blue;
$tamanho_fonte: 1rem;

@mixin cores() {
    color: $blue;
    background-color: $background;
}

body {
    @include cores();
    @if ($background == black){
        h2 {
            color: light + $green;
        }
    } @else {
        h2 {
            color: red;
        }
    }
}

h1{
    font-size: $tamanho_fonte * 4;
}


