html {
    color: white;
    background-color: rgba(0 , 0, 0, 1);
    background-image: url('kkkkkkkkkk.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 800;
    font-variant: small-caps;
    font-size: 1.5rem;
}

main p {
    text-indent: 2rem;
}

main h2 {
    text-align: center;
    text-decoration: underline;
    letter-spacing: 2rem;
    text-transform: uppercase;
}

a{
    color: red;
    cursor: pointer;
}

a:active {
    color: yellow;
}